// aqui va el import con las fuentes de google fonts si deseo utilizarlas
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');



:root {
    /* fonts */
    --font-roboto: 'Roboto', sans-serif;
    /* colors */
    --background-primary: #f5ece4;
    --font-primary: rgb(11, 11, 48);    
}