// aqui va el import con las fuentes de google fonts si deseo utilizarlas

:root {
    /* fonts */
    --font-primary: 'Roboto', verdana; // asi vamos guardando las fuentes en variables
    /* colors */
    --color-own: rgb(198, 191, 236);
    --color-own-light: whitesmoke;
    ;
}