.table *{
    border: 1px solid white;
    border-collapse: collapse;
    padding: .4rem .8rem;   
}

.home__table {
    display: flex;
}

.home__table > .table {
    background-color: rgb(51, 49, 51);
}

.table {
    border: 1px solid white;
    border-collapse: collapse;
    font-weight: 700;
   
    &__tr:hover {
        background-color: rgb(235, 210, 241);
        color: #222;
        
    }
    &__checkbox {
        width: 1%;
    }
}

